<form method="POST" action="/sushis">
  <label for="name">Name: </label>
  <input type="text" name="name">

  <label for="description">Description: </label>
  <textarea name="description" ></textarea>

  <label for="price">Price: </label>
  <input type="number" name="price">

  <input type="submit" value="Make that sushi!">
</form>